<navigation-tabs>
  <nav-pane title="Contacts">
  <h2>Contacts <a class="btn btn-primary pull-right" href="#/create"><i
        class="glyphicon glyphicon-plus"></i> </a></h2>

<table class="table table-hover">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
         <th>
            Email ID
        </th>
         <th>
            Phone Number
        </th>
        <th>
        
        </th>
    </tr>
    <tr class="success" ng-repeat="contact in contacts">
        <!--<td>{{$index+1}}</td> -->
        
        <td>
        <span editable-text="contact.firstName" e-name="firstName" e-form="rowform">
          {{ contact.firstName || 'empty' }}
        </span>
      </td>
      
      <td>
        <span editable-text="contact.lastName" e-name="lastName" e-form="rowform" >
          {{ contact.lastName || 'empty' }}
        </span>
      </td>
      
      <td>
        <span editable-text="contact.emailID" e-name="emailID"  e-form="rowform">
          {{contact.emailID || 'empty' }}
        </span>
      </td>
      
       <td>
        <span editable-text="contact.phoneNumber" e-name="phoneNumber" e-form="rowform">
          {{contact.phoneNumber || 'empty' }}
        </span>
      </td>
      
      <td>
        <form editable-form name="rowform" onbeforesave="saveContact($data, contact)" ng-show="rowform.$visible" class="form-buttons form-inline">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
            save
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
        
          <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
          <button type="button" class="btn btn-primary" ng-click="addToGroup(contact)">Add to Group</button>
          <button type="button" class="btn btn-danger" ng-click="deleteContact(contact, $index)">delete</button>
        </div>  
      </td>
    </tr>
</table>
  </nav-pane>
  <nav-pane title="Groups">
    <h2>Groups <a class="btn btn-primary pull-right" href="#/createGroup"><i
        class="glyphicon glyphicon-plus"></i> </a></h2>
  
  <table class="table table-hover">
 <tr class="success" ng-repeat="group in groups">
        
        <td>
        <span editable-text="group.name" e-name="name" e-form="rowform">
          {{ group.name || 'empty' }}
        </span>
      </td>
      
       <td>
        <span ng-repeat="members in group.members">{{members.firstName}} {{player.lastName}}</span>
      </td>
      
      <td>
        <form editable-form name="rowform" onbeforesave="saveGroup($data, group)" ng-show="rowform.$visible" class="form-buttons form-inline">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
            save
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
          <button type="button" class="btn btn-danger" ng-click="deleteGroup(group, $index)">delete</button>
        </div>  
      </td>
    </tr>
</table>

  
  </nav-pane>
</navigation-tabs>
